.typewriter h1 {
    display: none;
    color: #8338ec;
    overflow: hidden;
    /* Hide overflow content */
    border-right: 0.15em solid orange;
    /* Add a border for the cursor effect */
    white-space: nowrap;
    /* Keep the text in one line */
    margin: 0;
    /* Remove default margin */
    letter-spacing: 0.15em;
    /* Adjust spacing between letters */
    animation:
        typing 3s steps(30, end),
        /* Animation for typing effect */
        blink-caret 0.5s step-end infinite;
    /* Animation for cursor blinking */
}

@keyframes typing {
    from {
        width: 0;
    }

    /* Start with no width */
    to {
        width: 100%;
    }

    /* End with full width */
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    /* Blinking effect */
    50% {
        border-color: orange;
    }

    /* Show the border color in the middle of the animation */
}